<!-- views/bugs.ejs -->
<!doctype html>
<html>

<head>
  <title>Bugs Monitoring System</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

  <style>
    body {
      word-wrap: break-word;
      position: relative; 
    }
  </style>

  <!-- CSS   -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">     
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

 
  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">
</head>
</head>
<body>

  <div class="container">
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span>Feature Details</h1>
      <p> Click on the bug name to view its properties </p>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>      
    </div>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-3">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <p>
            <strong>email</strong>:
            <%= user.local.email %><br>
          </p>
          <p>
            <strong>Feature</strong>:
            <%= feature.feature %><br>
          </p>
        </div>
      </div>
      <!-- Add a new feature option -->
      <div class="col-sm-3">
        <div class="well">
          <h3><span class="fa fa-plus-square" aria-hidden="true"></span> Report Bug </h3>
          <a href = "/profile/<%=feature._id%>/bug_registration" class="btn btn-default btn-sm" role="button">ADD</a>

        </div>
      </div>
      
      <!--- Modify feature -->
      <div class="col-sm-3">
        <div class="well">
          <h3><span class="fa fa-pencil-square-o" aria-hidden="true"></span> Update feature </h3>
          <button type="button1" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-register">UPDATE</button>
        </div>
      </div>
      <!-- Delete feature -->
      <div class="col-sm-3">
        <div class="well">
          <h3><span class="fa fa-trash" aria-hidden="true"></span> 
          Delete feature </h3>
          <button type="button1" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-register">DELETE</button>
        </div>
      </div>

    </div>
  </div>

   <!-- Table starts here -->
  <div class="container" ng-app="sortApp" ng-controller="mainController">
  <!-- Search Box -->
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search for Bugs" ng-model="searchFeature">
      </div>      
    </div>
  </form>

  <table class="table table-bordered table-striped table-condensed">

    <thead>
      <tr>
        <td>
        <b>
          Serial no. 
        </td>
        <td>
        <b>
          Bug Name
        </td>
        <td>
        <b>
          Bug Description
        </td>
        <td>
        <b>
          Bug Status        
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in features | filter:searchFeature" ng-click="showFeature(feature)">
        <td>{{$index+1}}</td>
        <td>{{ x.bugName }}</td>
        <td>{{ x.bugDescription}}</td>
        <td>{{ x.bugStatus}}</td>
      </tr>
    </tbody>
  </table>
</div>





  <!-- ANGULAR SCRIPTS 


  -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="assets/js/appdisplay.js"></script>

  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.backstretch.min.js"></script>
  <script src="assets/js/scripts.js"></script>



  <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->


  </body>
  </html>